* {
  margin: 0px;
  padding: 0px;
  font-family: 'Minion Pro', 'New Times Romen', 'serif';
  position: relative;
  
}

*:focus{
  border: none !important;
  outline: 0 !important;
}

html,body{
  height:100%;
}

body{
  background-color:  rgb(252,252,252);
  color: #333;
}

.container{
  margin-left: 0px;
  margin-right: 0px; 
  padding-top: 50px;
  padding-bottom: 50px;
}

h1{

}

.row{
  padding-bottom:30px;
}

.plot-0{
  height:100vh;
}

#sidebar{
  padding-top:30px;
}

#sidebar p{
  word-wrap: break-word;
}

.trigger{
  padding-top:30%;
  padding-bottom:60%;
}

.baseMap {
  opacity: 0;
}

.censusMap {
  opacity: 0;
}

.row-2 .fixed {
  position: fixed;
  top:0;
}


